html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  display: -webkit-box;
  -webkit-box-orient: block-axis; }

header, .main {
  box-sizing: border-box; }

.main {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
  display: -webkit-box; }
  .main aside {
    width: 200px;
    box-sizing: border-box;
    padding: 2px 0 0 4px;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background: #f6f7f9;
    font-size: 12px; }
    .main aside .ui.list .ui.list {
      padding: 0;
      padding-left: 1em; }
    .main aside .ui.list .item {
      color: #162029;
      cursor: pointer; }
    .main aside .ui.list .item > .icon.right ~ .list {
      display: none; }
    .main aside .ui.list .item > .icon {
      margin-right: 0;
      width: 15px;
      height: 12px; }
  .main #article {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: block-axis;
    margin: 0;
    padding: 0; }
    .main #article .content {
      -webkit-box-flex: 1;
      margin: 0; }
